<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/pics/home_thumbnail.png">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>not so wololo</title>
    {% endif %}
</head>

<body>
<div class="home">
    <p class="text">I have experience in these programming languages:</p>
    <ul>
        {% for m in menu %}
        <li class="text">{{m}}</li>
        {% endfor %}
    </ul>
    <p class="text">I also have knowledge of OOP and SOLID</p>
    <p class="text">Currently studying web framework - &#127798; Flask</p>
</div>

</body>
</html>